body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}
#stage{
    width:1000px;
    height:500px;
    float:left;
}
#sidebar{
    width:260px;
    height:500px;
    background-color: #ffffff;
    float:left;
}
.clear{
    clear: both;
}
#log{
    width:1260px;
    height:150px;
    background-color: #eeeeee;
    overflow-y: scroll;
}
#log div{
    width: 100%;
}

#sidebar > .selected {
    padding: 5px;
    min-height: 200px;
}

#sidebar .texture{
    width:100px;
    height:63px;
}

#sidebar .texture-pad{
    width:100%;
    padding: 5px 70px 5px 70px;
}

#actor-list{
    background-color: #efefef;
    min-height: 300px;
    overflow-y: scroll;
}

#actor-list .actor{
    padding: 5px;
    border-bottom: 1px solid black;
}

#actor-list .actor:nth-child(even){
    background-color: #dfdfdf;
}

.actor .sprite{
    width: 30px;
    height: 30px;
    padding: 5px;
    float:left;
}

.actor .name,
.actor .status{
    width:200px;
    margin-left: 45px;
}

